.inputCountainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 16px;
    color: black;
  }

  input {
    width: 386px;
    height: 50px;
    border: 1px solid #797979;
    border-radius: 6px;
    background-color: #fff;

    &::placeholder {
      font-size: 16px;
      text-indent: 8px;
      color: #d9d9d9;
    }
  }

  .btnPad {
    padding-right: 65px;
  }

  .errMsg {
    color: red;
    font-size: 13px;
  }
}
