.adminMode-container {
  @include flexbox(space-between, flex-start);
}

.lists-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 6px;
  padding: 15px;
  gap: 20px;
  width: 600px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);

  .lists-title {
    @include flexbox(space-between, center);

    p {
      @include text-style-24;
      color: $blue;
      font-weight: 600;
    }

    span {
      color: rgba($blue, 0.5);
    }
  }

  .lists-box {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .list-box {
      background-color: rgba($yellow, 0.7);
      @include flexbox(space-between, center);
      padding: 5px 15px;
      border-radius: 6px;

      &.participating {
        background-color: rgba($blue, 0.2);

        .study-date {
          color: $blue;
        }
      }

      &.host {
        background-color: $blue;

        .host-name {
          color: $white;
          font-weight: 600;
        }
      }

      .people-profile {
        @include flexbox(center, center);
        gap: 10px;

        p {
          color: $black;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }

      .study-date {
        color: $charcoal;
      }

      .list-button-container {
        display: flex;
        gap: 4px;

        button {
          color: $white;
          border-radius: 24px;
          @include text-style-14;
          font-weight: 500;
        }

        .light {
          background-color: $blue;
        }

        .dark {
          background-color: $primary;
        }
      }
    }
  }
}

.notice-container {
  background-color: $white;
  padding: 15px;
  border-radius: 6px;
  width: 500px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);

  .notice-title {
    @include text-style-24;
    margin-bottom: 20px;
    font-weight: 600;
    color: $blue;
  }

  .notice-content {
    @include flexbox(flex-start, center);
    gap: 35px;

    p {
      color: $primary;
      font-weight: 600;
    }
  }

  .notice-button-container {
    display: flex;
    gap: 10px;

    button {
      @include text-style-12;
      border: 1px solid rgba($blue, 0.5);
      border-radius: 6px;
      color: rgba($blue, 0.5);
    }

    .notice-delete {
      color: rgba($red, 0.5);
      border: 1px solid rgba($red, 0.5);
    }
  }
}

.manage-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .sub-content {
    display: flex;

    p {
      color: $primary;
      font-weight: 600;
      width: 100px;
    }

    .study-closed {
      color: $red;
    }

    &-bundle {
      display: flex;
      gap: 10px;

      span {
        border-bottom: 1px solid rgba($blue, 0.6);
        color: rgba($blue, 0.6);
      }
    }
  }
}
