.comment-title {
  @include text-style-24;
  border-bottom: 1px solid rgba($blue, 0.3);
  margin-bottom: 20px;
}

.comment-input-container {
  @include flexbox();
  gap: 20px;

  input {
    border: 1px solid rgba($blue, 0.2);
    border-radius: 6px;
    height: 80px;
    flex: 1;
    text-indent: 10px;
  }

  button {
    background-color: rgba($primary, 0.5);
    border-radius: 6px;
    color: $white;
    width: fit-content;
    height: 60px;
    padding: 30px 10px;
    @include flexbox();
  }

  .disabled {
    cursor: not-allowed;
  }
}

.comment-list-container {
  flex-direction: column;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.comment-list {
  @include flexbox(space-around, center);
  gap: 20px;

  .comment-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba($blue, 0.5);
    flex: 1;
  }

  .comment-top {
    display: flex;
    gap: 20px;

    &-name {
      color: $blue;
    }
  }

  input {
    border: 1px solid rgba($blue, 0.2);
    border-radius: 6px;
    text-indent: 10px;
    height: 50px;
  }

  .comment-button-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .delete-button {
      padding: 5px 16px;

      &:hover {
        border-radius: 6px;
        background-color: rgba($border, 0.2);
      }
    }
  }
}
