#form {
  margin-bottom: 30px;
  @include flexbox(flex-start, flex-end);
  gap: 30px;

  .input-container {
    width: 330px;

    input {
      height: 50px;
    }
  }
}

#keyword {
  width: 100%;
  outline: none;
  height: 40px;
  text-indent: 10px;
}

#submit_btn {
  background-color: $yellow;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  @include text-style-14();
  color: $white;
  font-weight: 500;
}
.map_wrap {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  position: relative;

  #map {
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 100%;
    cursor: pointer;
  }

  #menuDiv {
    height: 100%;
    display: flex;
    z-index: 999;
  }

  #menu_wrap {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
  }

  #map_title {
    @include flexbox();
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  #placesList h5 {
    color: $black;
  }

  #placesList .item {
    border-bottom: 1px solid $charcoal;
    overflow: hidden;
    cursor: pointer;
  }

  #placesList .item .info {
    padding: 10px 0 10px 5px;
  }

  #placesList > .item span {
    display: block;
    margin-top: 4px;
  }

  #placesList .info .gray {
    color: #8a8a8a;
  }

  #placesList .info .tel {
    color: #009900;
  }

  #pagination {
    margin: 10px auto;
    text-align: center;
  }

  #pagination a {
    display: inline-block;
    margin-right: 10px;
    color: $charcoal;
  }

  #pagination .on {
    font-weight: bold;
    cursor: default;
    color: $yellow;
  }

  #btnDiv {
    @include flexbox();
    height: 100%;
  }

  #searchBtn {
    width: 20px;
    height: 70px;
    padding: 0px;
    background-color: $yellow;
    border: none;
  }
}

.selected-place {
  margin-top: 30px;
  height: 40px;
  @include flexbox(flex-start, center);

  p {
    color: $black;
  }
}

.place-error {
  color: $red;
  font-size: 13px;
}
