.recruit-card-wrapper {
  margin: 100px 0;
}
.recruit-card {
  background-color: $white;
  border: 1px solid $border;
  height: 200px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
    background-color: $yellow;
  }

  &-stack {
    display: flex;
    overflow: hidden;
    margin-bottom: 30px;
    gap: 3px;
    img {
      display: block;
      width: 34px;
      border-radius: 100%;
      background-color: $white;
    }
  }

  &-title {
    margin-bottom: 30px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-user {
    color: $charcoal;
    @include text-style-16;
  }

  &-date {
    display: flex;
    color: $charcoal;
    @include text-style-14;
    gap: 5px;
  }

  &-place {
    background-color: $blue-light;
    padding: 0px 5px;
    border-radius: 6px;
    @include text-style-14;

    .online {
      color: $yellow;
    }
    .offline {
      color: $white;
    }
  }
}
