.study-schedule-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 30px;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}

.announcement-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .announcement-title {
    color: $blue;
    @include text-style-24;
    font-weight: 600;
    border-bottom: 1px solid rgba($blue, 0.3);
  }

  .announcement-list {
    color: $charcoal;
    list-style: disc;
    list-style-position: inside;
    padding: 5px;
  }
}

.detail-todo-container {
  display: flex;
}

.react-datepicker__month-container {
  width: 400px;
  font-size: 20px;
}

.react-datepicker__header > .react-datepicker__current-month {
  font-size: 24px;
}

.react-datepicker__day-names,
.react-datepicker__week {
  height: 50px;
  @include flexbox(space-around, center);
}

.todo-container {
  border: 1px solid black;
  flex: 1;
}
