.proflie {
  height: 286px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;

  .imgContainer {
    position: relative;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .icon {
      width: 35px;
      height: 35px;
      background-color: #ffd700;
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
      right: 10px;
      border: 3px solid white;
      cursor: pointer;
      color: white;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
