.radio {
  .radio-input {
    padding: 0 10px 0 0;
    font-weight: 400;
    font-size: 0.9em;
  }
}

[type='radio'] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid $gray;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  margin-right: 3px;
}

[type='radio']:checked {
  border: 0.4em solid $blue;
  background-color: $yellow;
}

[type='radio']:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(1px, 0.2em) dotted $blue;
}

[type='radio']:hover {
  box-shadow: 0 0 0 max(1px, 0.2em) $border;
  cursor: pointer;
}

fieldset {
  display: flex;
  justify-content: left;
  border: none;
  margin: 0;
  padding: 20px 20px;
  font-weight: 600;
}
