/* 중요한 타이틀, 강조 */
$primary: #022c43;

$blue: #115173;
$blue-dark: #053f5e;
$blue-light: #27607e;

$black: #000;
$white: #fff;
$gray: #7e9aab;
$yellow: #ffd700;
$red: #eb4335;
$charcoal: #797979;

$border: #a9c0cd;
$background: #ece4e4;
