@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'), url('../../assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
  font-family: 'Pretendard Variable';
}
