.recruit-detail-content {
  background-color: $white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 30px 20px;
  margin-bottom: 60px;

  .recruit-subtitle {
    @include text-style-24();
    border-bottom: 1px solid $border;
    font-weight: 600;
  }

  .detail-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    div {
      white-space: pre-line;
    }
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .recruit-detail-main {
    border: 1px solid $border;
    border-radius: 6px;
    padding: 20px;
  }
}

.join-button {
  margin: 20px 0;
  @include flexbox(flex-end, center);
}

.icon-heart {
  font-size: 30px;
  margin-right: 20px;
  color: $white;

  &.clicked {
    color: $primary;
  }
}
