.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100vw;
  height: 100vh;

  .loginFormContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .row {
      display: flex;
    }
  }

  .socialLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
