@import '@/styles/mixins/_flexbox.scss';
@import '@/styles/constants/_colors.scss';

.modal-container {
  @include flexbox();
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba($black, 0.4);

  .modal-content {
    @include flexbox();
    flex-direction: column;
    width: 450px;
    height: 250px;
    background-color: $white;
    border-radius: 6px;
    color: $black;
    gap: 20px;

    &.notice-modal {
      width: 700px;
      height: 500px;

      .notice-title {
        font-size: 20px;
      }

      input {
        width: 600px;
        border: 1px solid $border;
      }

      textarea {
        width: 600px;
        height: 250px;
        resize: none;
      }
    }
  }
}
