.inputRow {
  position: relative;

  button {
    width: 60px;
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 5px;
    z-index: 999;
  }
}

.auth-select {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
}
