.inputRow {
  position: relative;

  button {
    width: 60px;
    position: absolute;
    right: 0;
    top: 35px;
    margin-right: 5px;
    z-index: 999;
  }
}

.select {
  display: flex;
  flex-direction: column;
  color: black;
}
