.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .inputRow {
      display: flex;
    }
  }

  .socialRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
